<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
          
        <title>カード登録内容確認</title>   
    </head>
    <body>
        <div class="nagoyameshi-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 nagoyameshi-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
                          
            
                            <h1 class="mb-4 text-center">カード登録内容確認</h1>
                            <br><br>
                                        
                             
                             <div th:object="${paidRegistForm}">
                                 
             
                                <div class="container mb-4">
                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-6">
                                            <span class="fw-bold">カード名義人</span>
                                        </div>
                
                                        <div class="col">
                                            <span th:text="*{nominee}"></span>
                                        </div>
                                    </div>
                                </div>     
                                
                                <div class="container mb-4">
                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-6">
                                            <span class="fw-bold">カード番号</span>
                                        </div>
                
                                        <div class="col">
                                            <span th:text="*{card_number}"></span>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="container mb-4">
                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-6">
                                            <span class="fw-bold">カード種別</span>
                                        </div>
                
                                        <div class="col">
                                            <span th:text="*{card_type}"></span>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="container mb-4">
                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-6">
                                            <span class="fw-bold">カード有効期限</span>
                                        </div>
                
                                        <div class="col">
                                            <span th:text="*{period_month + '/' + period_year}"></span>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="d-flex justify-content-center">
                                     
                                     <button id="registButton" class="btn text-white shadow-sm w-100 nagoyameshi-btn">決済する</button>
                                </div>
                          
                             </div>
                        </div>
                    </div>
                </div>  
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        <!-- JSファイルにsessionIdを参照させ、ボタンクリック時のページ遷移を処理させる -->
        <div th:replace="~{fragment :: scripts}"></div>  
         <script src="https://js.stripe.com/v3"></script>
         <script th:inline="javascript">
             const sessionId = /*[[${sessionId}]]*/"sessionId";   
             console.log('Session ID:', sessionId);             
         </script>        
         <script th:src="@{/js/stripe.js}"></script>        
  </body>
</html>