<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>有料会員アップグレード</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">

						<h1 class="mb-4 text-center">有料会員アップグレード</h1>

						<form method="post" th:action="@{/user/upgradeConfirm}" th:object="${paidRegistInputForm}"
							enctype="multipart/form-data">



							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="nominee" class="col-form-label text-md-left fw-bold">カード名義人</label>
									<span class="badge bg-danger">必須</span>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('nominee')}" class="text-danger small mb-2"
										th:errors="*{nominee}"></div>
									<input type="text" class="form-control" th:field="*{nominee}"autofocus placeholder="NAGOYA TARO">
								</div>
							</div>
							
							<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="card_number" class="col-form-label text-md-left fw-bold">カード番号</label>
									<span class="badge bg-danger">必須</span>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('card_number')}" class="text-danger small mb-2"
										th:errors="*{card_number}"></div>
									<input type="text" class="form-control" th:field="*{card_number}"autofocus placeholder="1234 5678 9012">
								</div>
							</div>
							
								<div class="form-group row mb-3">
								<div class="col-md-4">
									<label for="sec_number" class="col-form-label text-md-left fw-bold">セキュリティ番号</label>
									<span class="badge bg-danger">必須</span>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('sec_number')}" class="text-danger small mb-2"
										th:errors="*{sec_number}"></div>
									<input type="text" class="form-control" th:field="*{sec_number}"autofocus placeholder="123">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="card_type" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">カード種別</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('card_type')}" class="text-danger small mb-2"
										th:errors="*{card_type}"></div>
									<select class="form-control" th:field="*{card_type}">
										<option value="">クレジットカードの種類を選択</option>
										<option value="VISA">VISA</option>
										<option value="MasterCard">MasterCard</option>
										<option value="JCB">JCB</option>
										<option value="AmericanExpress">American Express</option>
										<option value="DinersClub">DinersClub</option>
									</select>
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="kana" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">カード有効期限</span>
											<span class="badge bg-danger">必須</span>
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('period_month')}" class="text-danger small mb-2"
										th:errors="*{period_month}"></div>
									<select class="form-control" th:field="*{period_month}">
										<option value="1" selected="selected">01</option>
										<option value="2">02</option>
										<option value="3">03</option>
										<option value="4">04</option>
										<option value="5">05</option>
										<option value="6">06</option>
										<option value="7">07</option>
										<option value="8">08</option>
										<option value="9">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>/
									<div th:if="${#fields.hasErrors('period_year')}" class="text-danger small mb-2"
										th:errors="*{period_year}"></div>
									<select class="form-control" th:field="*{period_year}">
										<option value="2024" selected="selected">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
										<option value="2027">2027</option>
										<option value="2028">2028</option>
										<option value="2029">2029</option>
										<option value="2030">2030</option>
										<option value="2031">2031</option>
										<option value="2032">2032</option>
										<option value="2033">2033</option>
										<option value="2034">2034</option>
										<option value="2035">2035</option>
									</select>
									</select>
								</div>
							</div>

							
							<div class="form-group d-flex justify-content-center my-4">
								<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">登録</button>
							</div>
						</form>

						
					</div>
				</div>

			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>